.banner {
  margin: 0 auto;
}

.header-utils {
  margin-right: 50px;
}

header {
  justify-content: center;
}

.carrossel-track {
  justify-content: center;
  width: 100%;
}

.banner card-destino {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
  color: #365db5;
}

.continentesSilhueta {
  width: 99%;
  height: 200px;
  margin: 0 auto;
}

#eur {
  height: 290px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1000px;
}

#eur:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.continentes {
  display: flex;
  justify-content: center;
}

#amSul {
  width: 13%;
  margin-right: %;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1000px;
}

#amSul:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 20%;
  border-radius: 1000px;
}

#asia {
  width: 20%;
  margin-right: %;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1000px;
}

#asia:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 20%;
  border-radius: 1000px;
}

#amNor {
  width: 15%;
  margin-left: %;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 100px;
}

#amNor:hover {
  transform: scale(1.15);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  width: 20%;
  border-radius: 1000px;
}

#eur {
  width: 20%;
  margin-left: %;
}

.logo {
  cursor: pointer;
}

.titulos {
  text-align: center;
}

.card-pacote {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.card-pacote img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-pacote .info {
  padding: 15px;
}

.card-pacote h2 {
  margin: 0;
  font-size: 20px;
  color: #d60000;
}

.card-pacote p {
  margin: 5px 0;
  color: #555;
}

.card-pacote ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.card-pacote ul li {
  font-size: 14px;
  color: #333;
  margin-bottom: 4px;
}

.card-pacote .preco {
  font-size: 18px;
  font-weight: bold;
  color: #007b00;
  margin-top: 10px;
}

.info {
  border: 1px solid #365db5;
  border-radius: 20px;
  background-color: #eff4ff;
}

.info img {
  padding: 0;
}

.nomes {
  display: flex;
  justify-content: center;
}

h3 {
  color: #365db5;
  font-weight: bold;
}